
.black_block{
    border: 10px solid black;
    height: 600px;
    width: 800px;
}
.yellow_block_1{
    background-color: yellow;
    height: 100px;
    clear: both;
       
}
.rad_block{
    background-color: rgb(255, 0, 0);
    width: 25%;
    height: 400px;
    float: left;

}
.green_block{
    background-color: rgb(21, 255, 0);
    width: 25%;
    height: 400px;
    float: left;

}
.blue_block{
    background-color: rgb(0, 47, 255);
    width: 25%;
    height: 400px;
    float: left;

}
.pink_block{
    background-color: rgb(255, 0, 200);
    width: 25%;
    height: 400px;
    float: left;
}
.yellow_block_2{
    background-color: yellow;
    height: 100px;
    clear: both; 
}